# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.localenv

# Database
*.db
notes.txt
/archive
main3.py
/Cloud_Resource_setup
Docs/phase-02/Architectural Decisions_ Cloud Infrastructure & Database Selection.pdf
/Docs/phase-02
.localdbenv
/database
/SQLScripts
adddb.py
